.wallet_input {
    position: relative;
    margin-bottom: 15px;
}

.success {
    border-color: var(--success);
}

.error {
    border-color: var(--error);
}

.warning {
    border: 1px solid var(--warning);
}

.active_show i {
    color: var(--primary)
}