.white {
	color: var(--primary);
	background: var(--white);
}
.transparent {
	background: none;
	color: var(--white);
}
.primary {
    background: var(--primary);
    color: var(--white);
}
.arrow {
    margin-left: 10px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 8px;
    border: 1px solid;
    font-weight: 600;
}

.svg_right svg {
    margin-left: 10px;
}
.svg_left svg {
    margin-right: 10px;
}
.border_primary {
    border-color: var(--primary);
    color: var(--primary);
    background: transparent;
}
.border_primary svg {
    fill: var(--primary)
}
.border_error svg {
    fill: var(--error)
}
.border_error {
    border-color: var(--error);
    color: var(--error);
    background: transparent;
}
.mt_0 {
    margin-top: 0;
}
.mb {
    margin-bottom: 10px;
}

.mt {
    margin-top: 10px;
}