.btn {
	background: transparent;
	border: none;
	cursor: pointer;
}

.btn svg {
	fill: var(--dark-gray);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.header h2 {
	margin-bottom: 0;
}